footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 150px;
}

.footer_up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  width: 70%;
}

.footer_up div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_up img {
  width: 120px;
  height: 60px;
}

.footer_up h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 177%;
  letter-spacing: -0.01em;
  color: #000000;
}

.footer_up p, .footer_up a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.75);
  padding: 5px 0;
}

.footer_icons1 {
  position: relative;
}

.footer_icons1::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 25px;
  height: 25px;
  background: url(../icons/location.svg);
  left: -35px;
}

.footer_icons2 {
  position: relative;
}

.footer_icons2::before {
  content: "";
  position: absolute;
  top: 15%;
  width: 25px;
  height: 25px;
  background: url(../icons/email.svg);
  left: -35px;
}

.footer_icons3 {
  position: relative;
}

.footer_icons3::before {
  content: "";
  position: absolute;
  top: 35%;
  width: 25px;
  height: 25px;
  background: url(../icons/call.svg);
  left: -35px;
}

.footer_down {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding-top: 35px;
  margin-top: 120px;
}

.footer_down .fd_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}

.footer_down .fd_1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_down .fd_1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.49);
}

.footer_down .fd_1 a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 25px;
}

.footer_down h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1250px) {
  footer {
    width: 80%;
  }
}

@media (max-width: 1090px) {
  footer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  footer {
    width: 95%;
    margin-top: 100px;
  }
  .footer_up {
    width: 85%;
  }
}

@media (max-width: 700px) {
  footer .footer_up {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
  footer .footer_down {
    margin-top: 30px;
  }
  footer .footer_down .fd_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_down .fd_1 div {
    margin: 10px 0;
  }
  footer .footer_down .fd_1 a {
    padding: 0 10px;
  }
}

@media (max-width: 460px) {
  footer .footer_up {
    justify-items: normal;
  }
}

@media (max-width: 425px) {
  footer {
    margin-top: 60px;
  }
  footer .footer_up {
    justify-items: center;
  }
  footer .footer_up div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .footer_down {
    width: 95%;
  }
}

@media (max-width: 375px) {
  footer {
    margin-top: 40px;
  }
  footer .footer_up {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .footer_down .fd_1 div:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_down .fd_1 div:nth-child(1) p {
    margin: 5px 0;
    text-align: center;
  }
  footer .footer_down .fd_1 div:nth-child(1) a {
    padding: 0 0 0 10px;
  }
}
