.acardions {
  background: #D9FCFC;
  border-radius: 40px;
  padding: 60px;
  width: 70%;
  margin-top: 40px;
}

.acardions .MuiPaper-root {
  background: #D9FCFC;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.acardions .MuiAccordionSummary-content {
  margin: 20px 0;
}

.acardions .acardion_title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: #02312F;
}

.acardions .acardion_comment {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: rgba(2, 49, 47, 0.8);
}

.acardions .MuiAccordion-root:before {
  display: none;
}

.plan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 70%;
  margin-top: 70px;
  justify-items: center;
}

.plan h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: #02312F;
  padding-bottom: 15px;
}

.plan p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: rgba(2, 49, 47, 0.8);
}

.plan div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.plan div:nth-child(2) img {
  width: 560px;
  height: 390px;
}

.is_img {
  width: 70%;
  height: auto;
  margin-top: 30px;
}

.is_img img {
  width: 100%;
}

.protses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  justify-items: center;
  width: 70%;
  margin-top: 50px;
}

.protses .protses_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.protses .protses_1 div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CFFCFC;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.protses h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.236393px;
  color: #000000;
}

.protses p {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.236393px;
  color: #02312F;
}

.protses p span {
  color: #5087C9;
}

.audio {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.audio div:nth-child(1) {
  width: 90%;
}

.audio div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: #02312F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio audio {
  width: 100%;
}

.audio audio::-webkit-media-controls-panel {
  background: #F0FEFE;
  stroke: #5087C9;
}

.audio audio::-webkit-media-controls-play-button {
  background-color: #09EBDF;
  border-radius: 50%;
  position: relative;
}

.audio audio::-webkit-media-controls-play-button:hover {
  opacity: 0.8;
}

.audio audio::-webkit-media-controls-current-time-display,
.audio audio::-webkit-media-controls-time-remaining-display {
  font-style: normal;
  font-weight: normal;
  font-size: 23.6393px;
  line-height: 35px;
  letter-spacing: 0.236393px;
  color: rgba(0, 0, 0, 0.7);
}

.line_b div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(131.22deg, rgba(9, 235, 223, 0.7) -21.19%, rgba(9, 235, 223, 0.7) -21.19%, rgba(12, 24, 39, 0.7) 42.65%);
}

.line_b img {
  z-index: 0;
}

.galereya {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  margin-top: 80px;
  width: 70%;
}

.galereya div {
  width: 100%;
  height: auto;
  border-radius: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galereya img {
  width: 100%;
  height: auto;
}

.galereya h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: #FFFFFF;
  position: absolute;
  bottom: 15px;
}

.single_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 30px;
}

.single_links a, .single_links p {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.336532px;
  color: #366EAF;
}

.single_links a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.single_links p {
  margin-left: 15px;
}

.single_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.single_title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.236393px;
  color: #000000;
}

.single_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  margin-top: 20px;
}

.single_page .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.single_page .date h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.336532px;
  color: rgba(0, 0, 0, 0.98);
}

.single_page .date li {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.336532px;
  color: rgba(80, 135, 201, 0.98);
  cursor: pointer;
  margin-left: 20px;
}

.single_page .date div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_page .date .share {
  overflow: hidden;
  margin-left: 30px;
}

.single_page .date .share div {
  background: linear-gradient(100.06deg, #09EBDF 0%, #366EAF 188.36%);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  position: relative;
}

.single_page .date .share div::after {
  content: "";
  position: absolute;
  background: url(../icons/Polygon.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: 20px;
  height: 20px;
  border-radius: 2.34375px;
  top: 7px;
  left: -11px;
}

.single_page .date .share a {
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single_page .single_text {
  margin: 25px 0;
}

.single_page .single_text p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 0.236393px;
  color: rgba(2, 49, 47, 0.9);
}

.single_page .single_img {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.single_page .single_img img {
  width: 100%;
}

.single_page .single_photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 800px;
  margin-top: 30px;
  overflow: hidden;
  background: linear-gradient(131.22deg, rgba(9, 235, 223, 0.45) -21.19%, rgba(9, 235, 223, 0.45) -21.19%, rgba(12, 24, 39, 0.45) 42.65%);
  border-radius: 40px;
}

.single_page .single_photos div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.single_page .single_photos div img {
  width: 100%;
  height: 100%;
}

.kalendar {
  height: 600px;
  width: 70%;
  margin-top: 50px;
}

.kalendar .react-datepicker {
  width: 100%;
  height: 100%;
  background: #CFFCFC;
  border-radius: 36.9595px;
  overflow: hidden;
  border: none;
}

.kalendar .react-datepicker__month-container {
  width: 100%;
}

.kalendar .react-datepicker__month {
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 20px;
}

.kalendar .react-datepicker__week, .kalendar .react-datepicker__day-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.kalendar .react-datepicker__day-names {
  padding: 10px 30px;
}

.kalendar .react-datepicker__day {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.513939px;
  color: #000000;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #fff;
}

.kalendar .react-datepicker__day:hover {
  border-radius: 50%;
}

.kalendar .react-datepicker__day--selected {
  background: #366EAF !important;
  color: #fff;
}

.kalendar .react-datepicker__day-name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.513939px;
  color: #000000;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kalendar .react-datepicker__header {
  background: #CFFCFC;
  padding: 0;
  border: none;
}

.kalendar .react-datepicker__day--outside-month {
  opacity: 0.5;
}

.kalendar .react-datepicker__current-month {
  background: #366EAF;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.513939px;
  padding: 10px 0 10px 50px;
  color: #FFFFFF;
  position: relative;
}

.kalendar .react-datepicker__current-month::before {
  content: "";
  position: absolute;
  background: url(../icons/Calendar.svg);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50px) translateY(10px);
          transform: translateX(-50px) translateY(10px);
}

.kalendar .react-datepicker__year-read-view--down-arrow,
.kalendar .react-datepicker__month-read-view--down-arrow,
.kalendar .react-datepicker__month-year-read-view--down-arrow,
.kalendar .react-datepicker__navigation-icon::before {
  width: 20px;
  height: 20px;
  border-color: rgba(255, 255, 255, 0.75);
}

.kalendar .react-datepicker__navigation {
  top: 20px;
  height: 50px;
  width: 50px;
}

.kalendar .react-datepicker__navigation--previous {
  left: 15px;
}

.kalendar .react-datepicker__navigation--next {
  right: 15px;
}

.date_results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 66px;
  justify-items: center;
  width: 70%;
  margin-top: 60px;
}

.date_results .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.date_results .result div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #366EAF;
  border-radius: 37px 37px 0 0;
  padding: 10px 30px;
}

.date_results .result div:nth-child(1) img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.date_results .result div:nth-child(1) p {
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.513939px;
  color: #FFFFFF;
}

.date_results .result div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #CFFCFC;
  padding: 20px 50px;
  border-radius: 0 0 37px 37px;
}

.date_results .result div:nth-child(2) h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: #02312F;
  padding-bottom: 10px;
}

.date_results .result div:nth-child(2) h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.236393px;
  color: #000000;
}

.forma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-top: 80px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.236393px;
  color: #03403D;
}

.forma .forma_img {
  max-width: 600px;
  height: auto;
}

.forma .forma_img img {
  width: 100%;
  height: auto;
}

.forma .boys {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forma .girls {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forma .boys1 {
  position: absolute;
  top: 80px;
  left: 0;
}

.forma .boys2 {
  position: absolute;
  bottom: 100px;
  left: 0;
}

.forma .girls1 {
  position: absolute;
  top: 50px;
  right: 0;
}

.forma .girls2 {
  position: absolute;
  bottom: 120px;
  right: 0;
}

.menyu_buttons {
  background: #CFFCFC;
  border-radius: 25px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.menyu_buttons button {
  background: none;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 0.236393px;
  color: rgba(2, 49, 47, 0.85);
  margin: 0 30px;
  cursor: pointer;
}

.menyu_buttons .btn_act {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  color: #02312F;
  border-bottom: 2px solid #02312F;
}

.menyu_slayder {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8.68555px 16px rgba(37, 74, 118, 0.02);
          box-shadow: 0px 8.68555px 16px rgba(37, 74, 118, 0.02);
  border-radius: 43.4278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  padding: 20px;
  height: 450px;
  width: 350px;
}

.menyu_slayder img {
  width: auto;
  height: 200px;
  border-radius: 40px;
  margin-bottom: 50px;
}

.menyu_slayder h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.236393px;
  color: #000000;
  margin-bottom: 15px;
}

.menyu_slayder p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.236393px;
  color: #000000;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .MuiCircularProgress-root {
  width: 70px !important;
  height: 70px !important;
  border: none;
}

.loading .MuiCircularProgress-colorPrimary {
  color: #09EBDF;
}

.loading div {
  border: none;
}

@media (max-width: 1440px) {
  .acardions {
    width: 85%;
  }
  .galereya h1 {
    font-size: 19px;
  }
}

@media (max-width: 1300px) {
  .plan {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1250px) {
  .forma {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .acardions {
    width: 90%;
  }
  .protses {
    width: 90%;
  }
  .kalendar {
    width: 90%;
  }
  .date_results {
    width: 90%;
  }
  .forma {
    width: 90%;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
  .single_links {
    width: 90%;
  }
  .single_title {
    width: 90%;
  }
  .single_page {
    width: 90%;
  }
  .galereya {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .acardions {
    padding: 40px;
  }
  .acardions .acardion_title {
    line-height: 33px;
  }
  .acardions .acardion_comment {
    line-height: 35px;
  }
  .plan p {
    font-size: 25px;
    line-height: 35px;
  }
  .plan div:nth-child(2) img {
    width: 100%;
    height: auto;
  }
  .is_img img {
    height: auto;
  }
  .protses {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .protses p {
    font-size: 27px;
  }
  .protses .protses_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .protses .protses_1 div:nth-child(1) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .audio {
    width: 90%;
  }
  .date_results {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .single_page .single_text p {
    font-size: 20px;
    line-height: 35px;
  }
}

@media (max-width: 700px) {
  .forma {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .forma .boys1, .forma .boys2 {
    position: static;
  }
  .forma .girls1, .forma .girls2 {
    position: static;
  }
  .forma .boys, .forma .girls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forma .boys div, .forma .girls div {
    margin: 5px 0;
  }
  .forma .forma_img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 200%;
  }
  .forma .girls {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 650px) {
  .protses .protses_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .protses .protses_1 div:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .single_page .single_photos {
    height: auto;
  }
}

@media (max-width: 546px) {
  .kalendar .react-datepicker__day {
    font-size: 21px;
    width: 40px;
    height: 40px;
  }
  .kalendar .react-datepicker__day-name {
    font-size: 26px;
  }
  .kalendar .react-datepicker__day-names {
    padding: 10px 20px;
  }
  .kalendar .react-datepicker__current-month {
    font-size: 33px;
  }
  .kalendar .react-datepicker__current-month::before {
    width: 40px;
    height: 40px;
    -webkit-transform: translateX(-40px) translateY(18px);
            transform: translateX(-40px) translateY(18px);
  }
  .date_results .result div:nth-child(1) p {
    font-size: 32px;
  }
  .date_results .result div:nth-child(1) img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .date_results .result div:nth-child(2) h1 {
    font-size: 27px;
  }
  .date_results .result div:nth-child(2) h2 {
    font-size: 21px;
  }
}

@media (max-width: 515px) {
  .menyu_buttons {
    padding: 20px;
  }
  .menyu_buttons button {
    margin: 0 20px;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .acardions {
    padding: 20px;
  }
  .audio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .audio div:nth-child(2) {
    margin-bottom: 20px;
  }
  .audio audio::-webkit-media-controls-current-time-display,
  .audio audio::-webkit-media-controls-time-remaining-display {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .acardions .acardion_title {
    font-size: 25px;
  }
  .acardions .acardion_comment {
    font-size: 22px;
  }
  .plan {
    width: 80%;
  }
  .plan p {
    font-size: 20px;
  }
  .forma {
    font-size: 18px;
  }
  .forma .girls div, .forma .boys div {
    margin: 10px 0;
  }
  .date_results .result div:nth-child(1) p {
    font-size: 27px;
  }
  .date_results .result div:nth-child(1) img {
    width: 35px;
    height: 35px;
  }
  .date_results .result div:nth-child(2) {
    padding: 20px 25px;
  }
  .kalendar .react-datepicker__current-month {
    padding: 10px 0 10px 35px;
    font-size: 27px;
  }
  .kalendar .react-datepicker__current-month::before {
    width: 35px;
    height: 35px;
    -webkit-transform: translateX(-35px) translateY(20px);
            transform: translateX(-35px) translateY(20px);
  }
  .single_page .single_photos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .single_page .date {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single_page .date div:nth-child(2) {
    margin: 10px 0;
  }
  .single_page .date li {
    margin-left: 0;
  }
  .single_title h1 {
    font-size: 31px;
  }
  .single_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galereya {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .acardions .acardion_title {
    font-size: 21px;
  }
  .acardions .acardion_comment {
    font-size: 17px;
  }
  .audio {
    width: 100%;
  }
  .menyu_buttons {
    padding: 20px 10px;
  }
  .menyu_buttons button {
    margin: 0 15px;
    font-size: 22px;
  }
  .kalendar {
    height: 500px;
  }
  .kalendar .react-datepicker__month {
    padding: 0 15px 15px 15px;
    margin: 0;
  }
  .kalendar .react-datepicker__day {
    font-size: 18px;
    width: 30px;
    height: 30px;
  }
  .kalendar .react-datepicker__month {
    height: 350px;
  }
  .single_title h1 {
    font-size: 26px;
  }
  .single_page .date h1 {
    font-size: 20px;
  }
  .single_page .date li {
    list-style: none;
    font-size: 20px;
  }
  .single_links a, .single_links p {
    font-size: 21px;
  }
}

@media (max-width: 320px) {
  .menyu_slayder {
    width: 280px;
  }
  .kalendar .react-datepicker__current-month {
    font-size: 21px;
  }
  .kalendar .react-datepicker__current-month::before {
    width: 30px;
    height: 30px;
    -webkit-transform: translateX(-30px) translateY(23px);
            transform: translateX(-30px) translateY(23px);
  }
  .kalendar .react-datepicker__day-name {
    font-size: 20px;
  }
  .date_results .result div:nth-child(1) p {
    font-size: 24px;
  }
  .date_results .result div:nth-child(1) img {
    width: 35px;
    height: 35px;
  }
  .date_results .result div:nth-child(2) h1 {
    font-size: 23px;
  }
  .date_results .result div:nth-child(2) h2 {
    font-size: 19px;
  }
  .menyu_slayder {
    padding: 10px;
    margin: 0;
  }
  .menyu_slayder img {
    width: 100%;
    height: auto;
  }
}
