.plan{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 70%;
    margin-top: 70px;
    justify-items: center;
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: #02312F;
        padding-bottom: 15px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: rgba(2, 49, 47, 0.8);
    }
    div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    div:nth-child(2){
        img{
            width: 560px;
            height: 390px;
        }
    }
}
.is_img{
    width: 70%;
    height: auto;
    margin-top: 30px;
    img{
        width: 100%;
    }
}
.protses{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 50px;
    //justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 50px;
    .protses_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            background: #CFFCFC;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 30px;
        }
    }
    div{
        display: flex;
        align-items: center;
        margin: 5px 0;
    }
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.236393px;
        color: #000000;
        margin-right: 15px;
        width: 40px;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.236393px;
        color: #02312F;
        span{
            color: #5087C9;
        }
    }
}
.line_b{
    div{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        background: linear-gradient(131.22deg, rgba(9, 235, 223, 0.7) -21.19%, rgba(9, 235, 223, 0.7) -21.19%, rgba(12, 24, 39, 0.7) 42.65%);
    }
    img{
        z-index: 0;
    }
    
}
.galereya{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    margin-top: 80px;
    width: 70%;
    .img_hover{
        position: relative;
        &:hover{
            div{
                opacity: 0.9;
                transition: 0.4s ;
            }
        }
        div{
            position: absolute;
            opacity: 0;
            top: 10%;
            width: auto;
            padding: 5px;
            transition: 0.4s ;
            background: rgba(0, 0, 0, 0.623);
            border-radius: 20px;
            p{
                color: white;
            }
        }
    }
    div{
        width: 100%;
        height: auto;
        border-radius: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    img{
        width: 100%;
        height: auto;
        border-radius: 40px;
    }
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: #FFFFFF;
        position: absolute;
        bottom: 15px;
    }
}
.single_top{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 0px 0px 80px 80px;
    background: linear-gradient(100.06deg, #09EBDF 0%, #366EAF 188.36%);
}
.single_links{
    display: flex;
    width: 70%;
    a,p{
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.336532px;
        color: #366EAF;
    }
    a{
        text-decoration-line: underline;
    }
    p{
        margin-left: 15px;
    }
}
.single_title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.236393px;
        color: #000000;
    }
}
.single_page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 20px;
    .date{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h1{
            font-style: normal;
            font-weight: normal;
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 0.336532px;
            color: rgba(0, 0, 0, 0.98);
        }
        li{
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 34px;
            letter-spacing: 0.336532px;
            color: rgba(80, 135, 201, 0.98);
            cursor: pointer;
            margin-left: 20px;
        }
        div{
            display: flex;
            align-items: center;
        }
        .share{
            overflow: hidden;
            margin-left: 30px;
            div{
                background: linear-gradient(100.06deg, #09EBDF 0%, #366EAF 188.36%);
                border-radius: 7px;
                display: flex;
                align-items: center;
                margin-left: 20px;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    //background: linear-gradient(100.06deg, #09EBDF 0%, #366EAF 188.36%);
                    background: url(../icons/Polygon.png);
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                    width: 20px;
                    height: 20px;
                    border-radius: 2.34375px;
                    top: 7px;
                    left: -11px;

                }
            }
            button{
                margin: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .single_text{
        margin: 25px 0;
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 50px;
            letter-spacing: 0.236393px;
            color: rgba(2, 49, 47, 0.9);
        }
    }
    .single_img{
        margin: 25px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .single_photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 800px;
        margin-top: 30px;
        overflow: hidden;
        border-radius: 40px;
        div{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
.forma{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    align-items: center;
    width: 70%;
    margin-top: 80px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.236393px;
    color: #03403D;
    .forma_img{
        max-width: 600px;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .boys{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .girls{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .boys1{
        position: absolute;
        top: 80px;
        left: 0;
    }
    .boys2{
        position: absolute;
        bottom: 100px;
        left: 0;
    }
    .girls1{
        position: absolute;
        top: 50px;
        right: 0;
    }
    .girls2{
        position: absolute;
        bottom: 120px;
        right: 0;
    }
}
.menyu_buttons{
    background: #CFFCFC;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    button{
        background: none;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: rgba(2, 49, 47, 0.85);
        margin: 0 30px;
        cursor: pointer;
    }
    .btn_act{
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        color: #02312F;
        border-bottom: 2px solid #02312F;
    }
}
.menyu_slayder{
    background: #FFFFFF;
    box-shadow: 0px 8.68555px 16px rgba(37, 74, 118, 0.02);
    border-radius: 43.4278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    height: 450px;
    width: 350px;
    img{
        width: auto;
        height: 200px;
        border-radius: 40px;
        margin-bottom: 50px;
    }
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.236393px;
        color: #000000;
        margin-bottom: 15px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.236393px;
        color: #000000;
    }
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiCircularProgress-root{
        width: 70px !important;
        height: 70px !important;
        border: none;
    }
    .MuiCircularProgress-colorPrimary{
        color: #09EBDF;   
    }
    div{
        border: none;
        &:active{
            border: none;
        }
    }
    .img_modal{
        height: 80%;
        img{
            height: 100%;
            width: auto;
        }
    }
}
.covid_19{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 52px;
        letter-spacing: 0.236393px;
        color: #000000;
        margin-bottom: 40px;
    }
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: #02312F;
        margin-bottom: 20px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 0.236393px;
        color: rgba(2, 49, 47, 0.9);
        margin-bottom: 10px;
    }
    .covid{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .covid_main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
.page{
    display: flex;
    align-items: flex-start;
    width: 70%;
    .pagination{
        display: flex;
        align-items: center;
        margin: 30px 0;
        li{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            background: #ffffff;
            box-shadow: 0px 6px 14px rgba(37, 74, 118, 0.15);
            cursor: pointer;
            &::marker{
                content: none;
            }
            &:hover{
                opacity: 0.7;
            }
            margin: 0 5px;
            a{
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.236393px;
                color: rgba(0, 0, 0, 0.98);
            }
        }
        .active_page{
            background: #09EBDF;
        }
        .previous, .next{
            background: none;
            box-shadow: none;
        }
        .disabled{
            opacity: 0.5;
        }
    }
}

@media (max-width:1440px) {
    .galereya{
        h1{
            font-size: 19px;
        }
    }
    .covid_19{
        width: 80%;
    }
}
@media (max-width:1300px) {
    .plan{
        grid-template-columns: 1fr;
    }
}
@media (max-width:1250px) {
    .forma{
        width: 85%;
    }
}
@media (max-width: 1200px) {
    .covid_19{
        .covid{
            .covid_main{
                grid-template-columns: 1fr;
            }
        }
    }
}
@media (max-width:1024px) {
    .protses{
        width: 90%;
    }
    .forma{
        width: 90%;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .single_links{
        width: 90%;
    }
    .single_title{
        width: 90%;
    }
    .single_page{
        width: 90%;
    }
    .galereya{
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .covid_19{
        width: 90%;
    }
}
@media (max-width:768px) {
    .plan{
        p{
            font-size: 25px;
            line-height: 35px;
        }
        div:nth-child(2){
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .is_img{
        img{
            height: auto;
        }
    }
    .protses{
        grid-template-columns: 1fr;
        p{
            font-size: 27px;
        }
        .protses_1{
            flex-direction: row;
            width: 100%;
            div:nth-child(1){
                margin-bottom: 0;
                margin-right: 20px;
            }
        }
    }
    .single_page{
        .single_text{
            p{
                font-size: 20px;
                line-height: 35px;
            }
        }
    }
    .single_title{
        h1{
            font-size: 35px;
        }
    }
    .covid_19{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 25px;
        }
        p{
            font-size: 21px;
        }
    }
}
@media (max-width:700px) {
    .forma{
        grid-template-columns: 1fr 1fr;
        .boys1,.boys2{
            position: static;
        }
        .girls1,.girls2{
            position: static;
        }
        .boys, .girls{
            display: flex;
            flex-direction: column;
            div{
                margin: 5px 0;
            }
        }
        .forma_img{
            order: 3;
            width: 200%;
        }
        .girls{
            order: 2;
        }
    }
}
@media (max-width:650px) {
    .protses{
        .protses_1{
            flex-direction: column;
            div:nth-child(1){
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
    }
    .single_page{
        .single_photos{
            height: auto;
        }
    }
}
@media (max-width:515px) {
    .menyu_buttons{
        padding: 20px;
        button{
            margin: 0 20px;
            font-size: 24px;
        }
    }
}
@media (max-width:500px) {
    .page{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width:425px) {
    .plan{
        width: 80%;
        p{
            font-size: 20px;
        }
    }
    .forma{
        font-size: 18px;
        .girls,.boys{
            div{
                margin: 10px 0;
            }
        }
    }
    .single_page{
        .single_photos{
            grid-template-columns: 1fr;
        }
        .date{
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            div:nth-child(2){
                margin: 10px 0;
            }
            li{
                margin-left: 0;
            }
        }
    }
    .single_links{
        flex-direction: column;
    }
    .galereya{
        grid-template-columns: 1fr;
    }
    .single_title{
        h1{
            font-size: 27px;
        }
    }
    .covid_19{
        h1{
            font-size: 27px;
        }
        h2{
            font-size: 23px;
            line-height: 30px;
        }
        p{
            font-size: 19px;
            line-height: 30px;
        }
    }
}
@media (max-width: 405px) {
    .page{
        .pagination{
            li{
                margin: 0 3px;
                width: 26px;
                a{
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width:375px) {
    .menyu_buttons {
        padding: 20px 10px;
        button {
            margin: 0 15px;
            font-size: 22px;
        }
    }
    .single_title{
        h1{
            font-size: 26px;
        }
    }
    .single_page{
        .date{
            h1{
                font-size: 20px;
            }
            li{
                list-style: none;
                font-size: 20px;
            }
        }
    }
    .single_links{
        a,p{
            font-size: 21px;
        }
    }
    .single_title{
        h1{
            font-size: 25px;
        }
    }
    .covid_19{
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 21px;
        }
        p{
            font-size: 17px;
        }
    }
}
@media (max-width:320px) {
    .menyu_slayder{
        width: 280px;
    }
    .menyu_slayder{
        padding: 10px;
        margin: 0;
        img{
            width: 100%;
            height: auto;
        }
    }
    .page{
        .pagination{
            li{
                margin: 0 3px;
                width: 24px;
                height: 26px;
                a{
                    font-size: 13px;
                }
            }
        }
    }
}